courses.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="courses">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="course" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="price" type="xs:int"/>
                            <xs:element name="oldPrice" type="xs:int"/>
                            <xs:element name="students" type="xs:int"/>
                            <xs:element name="duration" type="xs:string"/>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>